[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/check-in.html"
  to = "/check-in.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
